<%= form_for @job do |f| %>
<h4><u>Name:</u></h4>
   <%= f.text_field :name, :class => "name"  %>
  <h4><u>Description:</u></h4>
  <%= f.text_field :description, :class => "description"  %>
  <h4><u>Containers needed:</u></h4>
  <%= f.select "cont_needed", options_for_select(["1", "3", "5", "10", "25", "50"]), {}, {required: 'true', autofocus: 'true', class: 'cont_needed'} %>
  <h4><u>Budget:</u></h4>
 $<%= f.text_field :budget, :class => "budget" %>
  <h4><u>Origin</u></h4>
    <%= f.select "origin", options_for_select(["Los Angeles", "Portland", "Seattle", "New York", "Miami", "Philadelphia", "Boston", "Baltimore", "Charlseston", "Norfolk", "Houston", "New Orleans", "Detroit", "Dallas", "Columbus", "Charlotte", "Atlanta"]), {}, {required: 'true', autofocus: 'true', class: 'origin'} %>
    <h4><u>Destination</u></h4>
    <%= f.select "destination", options_for_select(["Los Angeles", "Portland", "Seattle", "New York", "Miami", "Philadelphia", "Boston", "Baltimore", "Charlseston", "Norfolk", "Houston", "New Orleans", "Detroit", "Dallas", "Columbus", "Charlotte", "Atlanta"]), {}, {required: 'true', autofocus: 'true', class: 'destination'} %>
     <%= f.hidden_field :user_id, :value => current_user.id %></br>
  <%= f.submit :class => "submit" %>
<% end %>