<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
<h1>list of jobs</h1>


<% @jobs.each do |t| %>
    <div><%= t.string "name" %></div>
    <div><%= t.string "description" %></div>
    <div><%= t.integer "cont_needed" %></div>
    <div><%= t.integer "budget" %></div>
    <div><%= t.string "origin" %></div>
    <div><%= t.string "destination" %></div>

    <% end %>