<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
<h1>list of jobs</h1>


<% @jobs.each do |t| %>
    <div><a href="/jobs/<%= t.id %>"<%= t.name %></a></div>
    <div><%= t.description %></div>
    <div><%= t.cont_needed %></div>
    <div><%= t.budget %></div>
    <div><%= t.origin %></div>
    <div><%= t.user_id %></div>
    t.user_id

    <% end %>