<h1>Jobs#show</h1>


<p>Find me in app/views/jobs/show.html.erb</p>
<h2>Show Individual Jobs</h2>

<div class="job-post">
<div><%= @job.name %></div>
<div><%= @job.description %></div>

<div><%= @job.cont_needed %></div>
<div><%= @job.budget %></div>
<div><%= @job.origin %></div>
<div><%= @job.destination %></div>
</div>


<hr>

<div><%= @job.budget %></div>
<div><%= @job.cont_needed %></div>
<hr>





<h2>Assign a boat to this job</h2>
<!-- filters boats by cost and displays -->
<% @boats.each do |b| %>
    <% if @job.budget >= b.cost.to_i %>
        <%= b.cost.to_i %>
        <p><%= b.name %></p>
        <%= image_tag b.avatar.url(:medium) %>
        <p>Cost: <%= b.cost %></p>
    <% end %>
<% end %>

