<h1>Jobs#show</h1>

<p>Find me in app/views/jobs/show.html.erb</p>
<h2>Show Individual Jobs</h2>

<div class="job-post">
<div><%= @job.name %></div>
<div>Description: <%= @job.description %></div>
<div>Containers Needed: <%= @job.cont_needed %></div>
<div>Budget: $<%= @job.budget %></div>
<div>Origin: <%= @job.origin %></div>
<div>Destination: <%= @job.destination %></div>
</div>



<%if logged_in? &&  @job.user_id == current_user.id %>
        <%= link_to "Edit Job Requirements", edit_job_path(@job), method: :get %> |
        <%= link_to "Cancel Job", job_path, method: :delete %>
    </div>
<% end %>

<hr>

<h3>List of boats assigned to <%= @job.name %></h3>
<% @job.boats.each do |s| %>
    <div> Boats: <%= s.name %></div>
<% end %>


<hr>



<h2>Assign a boat to this job</h2>
<!-- filters boats by cost and displays -->
<% @boats.each do |b| %>
    <% if @job.budget >= b.cost.to_i %>
        <p> Name:<%= b.name %></p>
        <%= image_tag b.avatar.url(:thumb) %>
        <div>Cost:<%= b.cost.to_i %></div>  
        <%if logged_in? &&  @job.user_id == current_user.id %>
            <%= form_for :boat, url: {action: 'assign', controller: 'boats'} do |f| %>
        		<%= hidden_field_tag "id",  b.id %>
                <%= hidden_field_tag "jobid", @job.id %>
        		<%= f.submit(value = "Assign") %>
            <% end %>    
        <% end %>
    <% end %>  
<% end %>

