<h1>Jobs#show</h1>


<p>Find me in app/views/jobs/show.html.erb</p>
<h2>Show Individual Jobs</h2>

<div class="job-post">
<div><%= @job.name %></div>
<div><%= @job.description %></div>
<div><%= @job.cont_needed %></div>
<div><%= @job.budget %></div>
<div><%= @job.origin %></div>
<div><%= @job.destination %></div>
</div>


<hr>