<h1>Boats#new</h1>
<p>Find me in app/views/boats/new.html.erb</p>


<%= current_user.id %>

<%= form_for @boat do |f| %>
	<div><%= f.hidden_field :user_id, :value => current_user.id %></div>
	<div>Name:<%= f.text_field :name %></div>
	<div>Maximum Containers:<%= f.text_field :max_cont %></div>
	<div>Location:<%= f.text_field :location %></div>
	<div>Cost:<%= f.text_field :cost %></div>
	<div> Add Image:<%= f.file_field :avatar %></div>
	<div><%= f.submit %></div>
<% end %>