<!DOCTYPE html>
<html>
<head>
  <title>Shippd</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



</head>

<body>
  <h1 id="headline">SHIPPD</h1>


  <% if logged_in? %>
  <nav class="navbar">
    <ul class="navbar_list">
      <li class="navbar_item"><%= link_to "Profile", current_user %></li>
      <li class="navbar_item"><a href="/boats">Our Boats</li></a>
      <li class="navbar_item"><a href="/boats/new">New Boat</li></a>
      <li class="navbar_item"><a href="/jobs">Job List</li></a>
      <li class="navbar_item"><a href="/jobs/new">New Job</li></a>
      <li class="navbar_item"><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></li>
    </ul>
  <% end %>

  <% if !logged_in? %>
    <ul class="navbar_list">
      <li class="navbar_item"><a href="/users/sign_in">Home</li></a>
      <li class="navbar_item"><a href="/users/sign_in" >Sign In</li></a>
      <li class="navbar_item"><a href="/users/sign_up" >Sign Up</li></a>
    </ul>
  <% end %>
  </nav>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
      
    <%= yield %>

  <div class="footer"><strong>Contact Us:   </strong><a href="mailto:contact@weshippdit.com">contact@weshippdit.com</div></p>
  
  </body>



</html>
