<!DOCTYPE html>
<html>
  <head>
    <title>Shipped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet"> 

  </head>

  <body>
    <h1>SHIPPD</h1>

  <nav class="navbar">
    <% if logged_in? %>
    <ul class="navbar__list">
      <li class="navbar__item"><%= link_to "Profile", current_user %></a>
      <a href="/"><li class="navbar__item">Home</li></a> 
      <a href="/boats"><li class="navbar__item">Our Boats</li></a>
      <a href="/boats/new"><li class="navbar__item">New Boat</li></a>
      <a href="/jobs"><li class="navbar__item">Job List</li></a>
      <a href="/jobs/new"><li class="navbar__item">New Job</li></a>
      <li><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></li>
      <% end %>

     <% if !logged_in? %>
     <a href="/"><li class="navbar__item">Home</li></a>
     <a href="/users/sign_in" ><li class="navbar__item">Sign In</li></a>
     <a href="/users/sign_up" ><li class="navbar__item">Sign Up</li></a>
     <% end %>

  </ul>
  </nav>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     
   </nav>

    <%= yield %>
  </body>
</html>
